*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --principal: #202020;
}
body{
    overflow-x: hidden;
    height: 300vh;
}
header{
    position: absolute;
    width: 100%;
    height: 100px;
    box-shadow: 2px 0px 3px var(--principal);
    padding-left: 90px;
    padding-right: 90px;
}
.section-1-header{
    position: absolute;
    top: 8px;
    left: 90px;
    background-color: rgba(255, 0, 0, 0);
}
.section-2-header{
    position: absolute;
    display: flex;
    left: 50%;
    top: 35%;
    width: 600px;
    font-size: 18px;
    margin-left: -300px;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0);
}
.section-3-header{
    position: absolute;
    right: 90px;
    display: flex;
    top: 50%;
    margin-top: -22.5px;
    background-color: rgba(255, 0, 0, 0);
}
.entrar{
    position: relative;
    width: 160px;
    height: 45px;
    border-radius: 7px;
    margin-right: 20px;
    text-align: center;
    padding-top: 9px;
    color: var(--principal);
    border: var(--principal) 1px solid;
}
.cadastre-se{
    position: relative;
    width: 160px;
    height: 45px;
    border-radius: 7px;
    background-color: var(--principal);
    text-align: center;
    padding-top: 9px;
    color: white;
}
main{
    position: absolute;
    top: 100px;
    width: 100%;
}
.section-1-main{
    position: absolute;
    border-radius: 10px;
    padding: 50px;
    width: 1500px;
    height: 320px;
    left: 50%;
    margin-left: -750px;
    border: solid 1px var(--principal);
    top: 70px;
    transition: 1s;
    color: white;
}
.title-1{
    font-size: 30px;
    margin-top: -15px;
    color: var(--principal);
}
.title-2{
    position: relative;
    font-size: 30px;
    color: var(--principal);
    top: 400px;
}
.boxes-1{
    position: absolute;
    width: 1400px;
    top: 130px;
    justify-content: space-around;
    display: flex;
}
.box-section-1{
    width: 425px;
    border-radius: 10px;
    height: 240px;
    border: solid 1px var(--principal);
    text-align: center;
    padding: 30px;
    background-color: #151515;
}
.h1-box-section-1{
    font-size: 20px;
}
.p-box-section-1{
    margin-top: 45px;
}
.section-2-main{
    position: relative;
    top: 100px;
    text-align: center;
}
.boxes-2{
    position: absolute;
    top: 520px;
    width: 1500px;
    height: 270px;
    left: 50%;
    margin-left: -750px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0);
    transition: 1s;
}
.square{
    width: 65px;
    height: 65px;
    background-color: var(--principal);
    border-radius: 10px;
    align-items: center;
}
.p-box-section-2{
    margin-top: 25px;
    width: 140px;
    left: 50%;
    margin-left: -35px;
}
i{
    font-size: 32px;
    margin-top: 14px;
    color: white;
}
.section-3-main{
    position: absolute;
    top: 1000px;
    text-align: center;
    width: 1200px;
    border-radius: 15px;
    left: 50%;
    margin-left: -600px;
    border: solid var(--principal) 1px;
    height: 150px;
    padding: 0px 95px;
    color: var(--principal);
    background-color: rgba(255, 0, 0, 0);
    transition: 1s;
}
.boxes-3{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin-top: 90px;
}
.sub-title{
    font-size: 35px;
}
.p-box-section-3{
    font-size: 18px;
}
.title-3{
    margin-top: -100px;
    font-size: 30px;
}

